.ModalBackground {
    background: rgba(0, 0, 0, 0.406) ;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    
    color: white;
}