button {
    background-color: rgba(138, 47, 223, 0.694);
    border-style: none;
    border-radius: 40px;
    height: 40px;
    width: 125px;
    margin-bottom: 60px;
    cursor:pointer;
    color: aliceblue;
    z-index: 1;
}
